*, *::after, *::before {
	box-sizing: border-box;
}

html {
    padding: 0;
	margin: 0;
}



body {
	background-color: white;
    color: black;
	padding: 1em 0 1em 0;
	margin: 0;
	width: 100vw;
    font-family: "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.075em;
}


main {
    width: 100%;
    display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
    justify-content: center;
	row-gap: calc(0.6em + 1.5vw);
    overflow-x: hidden;
}

#page-header {
    display: flex;
	justify-content: flex-start;
	flex-flow: row wrap;
	align-content: flex-start;
    padding: 1em 1em 4em 2.5em;
}

#page-header img {
    height: 1em;
    width: auto;
}

span { 
    margin: 0 0.5em 0 0.5em;
}

#page-header span {
    display: inline-block;
    margin-right: 2em;
    font-size: 1em;
    font-weight: 700;
    color: #abb2c5;
}

#page-header span:first-child {
    margin-left: 0;
}


#page-header a {
    text-decoration: none;
}

.content-block-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
 	justify-content: center;
    align-items: flex-start;
}

.content-block, .content-block2{
    display: flex;
	justify-content: flex-start;
	flex-flow: column nowrap;
    align-items: flex-start;
    border-radius: 0.3em;
    color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.content-block {
    width: min(calc(40rem + 25vw), 90vw);
}

.content-block2 {
    width: 100%;
}

.content-block3 {

    width: 100%;
    display: flex;
    flex-flow: row wrap;
 	justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
    padding: 3em 2em 3em 2.5em;


}




#top-field {
    padding: 0 2.5em 3em 2.5em;
}


#input-field {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
 	justify-content: flex-start;
    align-items: center;
}

#color-input {
    width: calc(100% - 80px);
    display: flex;
 	justify-content: flex-start;
    align-items: center;
}

#color-input-1, #color-input-2 {
    display: flex;
    flex-flow: row nowrap;
 	justify-content: flex-start;
}


input[type=text] {

    font-family: "Helvetica", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    letter-spacing: 0.075em;
    background-color: #ffffff66;
    margin: 0;
 
}

#top-field input[type=text] {
    padding: 0.5em;
    border-right: 0;
    font-size: 1.5em;
    font-weight: 500;
    min-height: 2.8em;
    width: calc(100% - 4.5rem);
    min-height: 4.5rem;

}

#color-text-2 {
    border: 0.2rem solid #081d58;

}


input[type=color] {
    padding: 0;
    height: 12em;
    width: 12em;
    padding: 0;
    margin-left: -2.5em;
    margin-top: -2.5em;
}

.color-picker-container {
    height: 4.5rem;
    width: 4.5rem;
    margin: 0;
    overflow: hidden;
    border: 0.2rem solid #081d58;
    border-left: 0;
}

#picker-container-2 {
    border: 0.2rem solid #081d58;
}




#cb-footer {
    padding: 1em 2.5em 1em 2.5em;
    font-size: 0.85em;
    color: #3a4b7a;
    margin: 0;
}



.color-terms {
    margin: 0 0.3em 0 0.3em;
    font-weight: 700;
}

#top-view, #transparent-view{
    margin: 0;
    margin-top: -2px;
    margin-left: -1px;
    min-width: 101%;
    display: flex;
	justify-content: flex-start;
	flex-flow: row nowrap;
	align-content: flex-start;
}

#transparant-column-container {
    display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
    margin: 0;
    padding: 0;
    gap: 0;
}

.svg-container-transparent-view {
    display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
    margin: 0;
    padding: 0;
    gap: 0;
}

.transparent-field {
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#top-view div {
    margin-left: -5px;
}

#top-view div:first-child {
    margin-left: 0;
}

.color-rect {
    overflow: hidden;
}

#copy-text {
    width: 100%;
    font-size: 0.85em;
    display: flex;
	justify-content: flex-end;
	flex-flow: row wrap;
	align-content: flex-end;
}

#input-colors {
    width: calc(100%-2em);
    display: flex;
	justify-content: flex-start;
	flex-flow: row wrap;
	align-content: flex-start;
    border: 0.15em solid #fff5;
    margin: 1em;    
    margin-bottom: 2.5em;
    padding: 1.5em;
    gap: 2em;
}


#output-colors {
    width: 100%;
    display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
    margin: 0;
    margin-left: -1px;
    gap: 0em;
}

.color-container {
    position: relative;
    width: 100%;
    margin-top : -10px;
    display: flex;
	justify-content: flex-start;
	flex-flow: row wrap;
    gap: 0.5em;
	align-content: flex-start;
}

.color-text-field {
    position: absolute;
    top: 2em;
    left: 5em;
}

.color-text-field span {
    display: block;
}


h1, h2 {
    display: block;
    width: 100%;
	font-weight: 900;
	letter-spacing: 0.05em;
	padding: 0;
    margin: 0;
}

h1 {
    font-size: 2.5em;
    color: #081d58;
}

h2 {
    font-size: 1.5em;
    color: black;
}


.color-input-gui {
    display: flex;
	justify-content: flex-start;
	flex-flow: row wrap;
    gap: 0;
	align-content: flex-start;
}
#color-pickers {
    margin: 0;
    display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
    gap: 0.15em;
}

/* input[type=text] {
    height: 4em;
    width: 12em;
    padding: 0.5em;
    margin: 0;
    border: 0;
    font-size: 1em;
    font-family: "Helvetica", Helvetica, Arial, sans-serif;
    letter-spacing: 0.075em;
} */


/* ------------------------------------------- */

.control-container {
    width: 100%;
    border: 0.15em solid #68737b;
    color: #68737b;
}

.control-label{
    padding: 0.5em;
    border-bottom: 0.15em solid #68737b;
    text-align: center;
    font-size: 0.9em;
    margin: 0;
}

#step-selector div {
    min-width: calc(100%/3);
    font-weight: 700;
}

#color-space-selector div {
    min-width: calc(100%/2);
    font-weight: 700;
}

#transparent-selector div {
    min-width: calc(100%/3);
    font-weight: 700;
}

#step-selector div[data-active="false"], 
#color-space-selector div[data-selected="true"],
#transparent-selector div[data-selected="true"] {
    background-color: #e2e4e9;
    color: black;
    cursor: default;
}

#step-selector div[data-active="true"], 
#color-space-selector div[data-selected="false"],
#transparent-selector div[data-selected="false"]  {
    background-color: #1e90ff;
    color: white;
    cursor: pointer;
}

#step-selector div:not(:last-child),
#color-space-selector div:not(:last-child),
#transparent-selector div:not(:last-child) {
   border-right: 0.15em solid #68737b;
}



/* #step-selector div:first-child{
   cursor: pointer;
}

#step-selector div:last-child{
   cursor: pointer;
} */



#step-selector div {
    width: 3.5em;
    height: 2.5em;
    margin: 0;
    padding: 0;
    float: left;
    border: 0em solid #D2D6E1;
    border-top: none;
    background-color: white;
    color: #081d58;
    font-weight: 700;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#color-space-selector div {
    width: 5.3em;
    height: 2.5em;
    margin: 0;
    padding: 0;
    float: left;
    border: 0em solid #D2D6E1;
    border-top: none;
    background-color: white;
    color: #081d58;
    font-weight: 700;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

#color-space-selector div[data-selected="true"] {
    background-color: #e2e4e9;
    cursor: default;
}

/* #color-space-selector div:not(:last-child) {
   border-right: none;
} */

#transparent-selector div {
    width: 4em;
    height: 2.5em;
    margin: 0;
    padding: 0.3em;;
    float: left;
    border: 0 solid #D2D6E1;
    border-top: none;
    background-color: white;
    color: #081d58;
    font-weight: 700;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

#transparent-selector div[data-selected="true"] {
    background-color: #e2e4e9;
    cursor: default;
}

/* #transparent-selector div:not(:last-child) {
   border-right: none;
} */

#column-two {
    display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
    justify-content: flex-end;
    gap: 0.15em;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.column-three {
    min-width: calc(25% - 1em);
    margin-right: 1em;
    display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
    justify-content: flex-end;
    gap: 1em;
}





@media only screen and (max-width: 450px) {
    html { 
        font-size: 14px; 
   } 
   #color-input {
       flex-flow: column nowrap;
   }
   #color-input-1, #color-input-2 {
       width: 100%;
   }
   #color-input-1 {
       align-items: flex-end;
   }
   #color-input-2 {
       align-items: flex-start;
   }
   #picker-container-1 {
       border: 0.2rem solid #081d58;
       border-bottom: 0;
   }
   #color-text-1 {
       border: 0.2rem solid #081d58;
       border-bottom: 0;
   }
}
@media only screen and (min-width: 450px) { 
   html { 
       font-size: 14.3px; 
   } 
   #color-input {
       flex-flow: column nowrap;
   }
   #color-input-1, #color-input-2 {
       width: 100%;
   }
   #color-input-1 {
       align-items: flex-end;
   }
   #color-input-2 {
       align-items: flex-start;
   }
   #picker-container-1 {
       border: 0.2rem solid #081d58;
       border-bottom: 0;
   }
   #color-text-1 {
       border: 0.2rem solid #081d58;
       border-bottom: 0;
   }
}
@media only screen and (min-width: 520px) { 
   html { 
       font-size: 14.6px; 
   } 
   #color-input {
       flex-flow: column nowrap;
   }
   #color-input-1, #color-input-2 {
       width: 100%;
   }
   #color-input-1 {
       align-items: flex-end;
   }
   #color-input-2 {
       align-items: flex-start;
   }
   #picker-container-1 {
       border: 0.2rem solid #081d58;
       border-bottom: 0;
   }
   #color-text-1 {
       border: 0.2rem solid #081d58;
       border-bottom: 0;
   }
}
@media only screen and (min-width: 590px) { 
   html { 
       font-size: 15px; 
   } 
   #color-input {
       flex-flow: column nowrap;
   }
   #color-input-1, #color-input-2 {
       width: 100%;
   }
   #color-input-1 {
       align-items: flex-end;
   }
   #color-input-2 {
       align-items: flex-start;
   }
   #picker-container-1 {
       border: 0.2rem solid #081d58;
       border-bottom: 0;
   }
   #color-text-1 {
       border: 0.2rem solid #081d58;
       border-bottom: 0;
   }
}
@media only screen and (min-width: 620px) { 
   html { 
       font-size: 15px; 
   }
   #color-input {
       flex-flow: column nowrap;
   }
   #color-input-1, #color-input-2 {
       width: 100%;
   }
   #color-input-1 {
       align-items: flex-end;
   }
   #color-input-2 {
       align-items: flex-start;
   }
   #picker-container-1 {
       border: 0.2rem solid #081d58;
       border-bottom: 0;
   }
   #color-text-1 {
       border: 0.2rem solid #081d58;
       border-bottom: 0;
   }
}
@media only screen and (min-width: 710px) {
    html { 
        font-size: 15.7px; 
   } 
   #color-input {
    flex-flow: column nowrap;
   }
   #color-input-1, #color-input-2 {
    width: 100%;
}
#color-input-1 {
    align-items: flex-end;
}
#color-input-2 {
    align-items: flex-start;
}
   #picker-container-1 {
        border: 0.2rem solid #081d58;
        border-bottom: 0;
   }
   #color-text-1 {
        border: 0.2rem solid #081d58;
        border-bottom: 0;
   }
}
@media only screen and (min-width: 760px) { 
   html { 
       font-size: 16px; 
   } 
   #color-input {
       flex-flow: row nowrap;
   }
   #color-input-1, #color-input-2 {
       width: 50%;
       align-items: center;
   }
   #picker-container-1 {
       border: 0.2rem solid #081d58;
       border-right: 0;
   }
   #color-text-1 {
        border: 0.2rem solid #081d58;
   }
}
@media only screen and (min-width: 950px) { 
   html { 
       font-size: 16px; 
   }
   #color-input {
       flex-flow: row nowrap;
   }
   #color-input-1, #color-input-2 {
       width: 50%;
       align-items: center;
   } 
   #picker-container-1 {
       border: 0.2rem solid #081d58;
       border-right: 0;
   }
   #color-text-1 {
        border: 0.2rem solid #081d58;
   }
}
@media only screen and (min-width: 1000px) { 
   html { 
       font-size: 16.2px; 
   }
   #color-input {
       flex-flow: row nowrap;
   }
   #color-input-1, #color-input-2 {
       width: 50%;
       align-items: center;
   }
   #picker-container-1 {
       border: 0.2rem solid #081d58;
       border-right: 0;
   }
   #color-text-1 {
        border: 0.2rem solid #081d58;
   }
}
@media only screen and (min-width: 1250px) { 
   html { 
       font-size: 16.5px; 
   }
   #color-input {
       flex-flow: row nowrap;
   }
   #color-input-1, #color-input-2 {
       width: 50%;
       align-items: center;
   } 
   #picker-container-1 {
       border: 0.2rem solid #081d58;
       border-right: 0;
   }
   #color-text-1 {
        border: 0.2rem solid #081d58;
   }
}
@media only screen and (min-width: 1430px) { 
   html { 
       font-size: 16.75px; 
   }
   #color-input {
       flex-flow: row nowrap;
   }
   #color-input-1, #color-input-2 {
       width: 50%;
       align-items: center;
   }
   #picker-container-1 {
       border: 0.2rem solid #081d58;
       border-right: 0;
   }
   #color-text-1 {
        border: 0.2rem solid #081d58;
   }
}
@media only screen and (min-width: 1650px) { 
   html { 
       font-size: 17px; 
   }
   #color-input {
       flex-flow: row nowrap;
   }
   #color-input-1, #color-input-2 {
       width: 50%;
       align-items: center;
   } 
   #picker-container-1 {
       border: 0.2rem solid #081d58;
       border-right: 0;
   }
   #color-text-1 {
        border: 0.2rem solid #081d58;
   }
}